<!DOCTYPE html>
<html>
  <head>
    <title>Twitter API Practice</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
  </head>
  
  <body>
    <article class="flex two" style="padding: 3em 1em">
      {% block content %}
      <div>
        <h1>Twitter API Practice</h1>
        <form action="/user_submitted" method="post">
          <input type="text" name="project_name" value= "Jon is a hobbit" placeholder="Enter a project name">
          <input type="text" name="category" value= "Film and Media" placeholder="Enter a category">
          <input type="text" name="main_category" value= "Movies" placeholder="Enter a main_category">
          <input type="text" name="currency" value="USD" placeholder="Enter a currency (three characters)">
          <input type="date" name="deadline" placeholder="Enter a date">
          <input type="number" name="goal" value=70000 min="0" step="any" placeholder="Enter a goal">
          <input type="date" name="launched" placeholder="Enter a date">
          <input type="number" name="pledged" value=50000 min="0" step="any" placeholder="Enter a pledged">
          <input type="number" name="backers" value=76 placeholder="Enter number of backers">
          <input type="text" name="country" value="US" placeholder="Enter a country">
          <input type="number" name="usd_pledged" value=2100 min="0" step="any" placeholder="Enter a usd_pledged">
          <input type="number" name="usd_pledged_real" value=2200 min="0" step="any" placeholder="Enter a usd_pledged_real">
          <input type="number" name="usd_goal_real" value=2300 min="0" step="any" placeholder="Enter a usd_goal_real">
          <input type="submit" value="Submit">
        </form>
      </div>
      <div>
        {% for user in users %}
        <span class="stack">
          {{ user }}
        </span>
        {% endfor %}
      </div>
      {% endblock %}
    </article>
  </body>
</html>